* { margin: 0px; padding: 0px; }

section {
    width: 100%;
    display: flex;
}

div {
    height: 200px;
    width: 200px;
    text-align: center;
    margin: 20px;
    background-color: #bfaec9;
    color: #000;
}

#fadein {
  display:none;
}

h2 {
  color: red;
}

#show {
  display:none;
}


.red {
  background-color: red;
  border-radius: 100%;
}
